.experience-section {
  .content {
    flex: 1;
    .card-wrapper {
      display: flex;
      justify-content: start;
      flex-wrap: wrap;
      .card {
        flex: none;
        max-width: 305px;
        width: 100%;
        margin: 10px;
        .card-footer {
          li {
            font-size: var(--fz-xs);
          }
        }
      }
      @include respond-down(lg) {
        & {
          justify-content: center;
        }
      }

      @include respond-down(md) {
        & {
          .card {
            max-width: 280px;
          }
        }
      }
    }
  }
}
